---
Checks: >
  -*,
  bugprone-*,
  clang-analyzer-*,
  performance-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-branch-clone,
  -performance-enum-size

WarningsAsErrors: ''
HeaderFilterRegex: ''
FormatStyle: file
